{% extends 'base.html' %}

{% block content %}

<div class="container">
  {% for article in articles %}

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-lg-6 urlToImage" style="background: url_for({{article.urlToImage}}) no-repeat center center">
      <img src="{{article.urlToImage}}" alt="{{article.title}}">
    </div>

    <div class="col-xs-6 col-sm-6 col-lg-6 source-articles">
      <h3>{{article.title}}</h3>

      <p class="description">{{article.description}}</p>
      <p class="publication">{{article.publishedAt}}</p>

    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
